#about {
  &-a {
    .info {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 1.2rem;

      &__image {
        padding: 1.2rem;
        border-radius: 5%;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
          rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
      }

      &__bio {
        border: 1px solid $light-color;
        padding: 0.8rem;
        box-shadow: rgb(38, 57, 77) 0px 15px 25px -13px;
        border-radius: 5%;
      }
    }
  }

  &-b {
    color: #09f4b9;
    width: 100%;

    .progress {
      background: rgba(255, 255, 255, 0.1);
      justify-content: flex-start;
      border-radius: 100px;
      align-items: center;
      position: relative;
      padding: 0 5px;
      display: flex;
      height: 40px;
      width: 100%;
      margin-top: 2px;

      .pro1 {
        animation: load 3s normal forwards;
        box-shadow: 0 10px 40px -10px #fff;
        border-radius: 100px;
        background: #fff;
        height: 30px;
        width: 0;
      }
      @keyframes load {
        0% {
          width: 0;
        }
        100% {
          width: 73%;
        }
      }

      .pro {
        animation: loadpro 3s normal forwards;
        box-shadow: 0 10px 40px -10px #fff;
        border-radius: 100px;
        background: #fff;
        height: 30px;
        width: 0;
      }
      @keyframes loadpro {
        0% {
          width: 0;
        }
        100% {
          width: 70%;
        }
      }
      .loadfull {
        animation: loadfull 3s normal forwards;
        box-shadow: 0 10px 40px -10px #fff;
        border-radius: 100px;
        background: #fff;
        height: 30px;
        width: 0;
      }
      @keyframes loadfull {
        0% {
          width: 0;
        }
        100% {
          width: 90%;
        }
      }
      .med {
        animation: loadmd 3s normal forwards;
        box-shadow: 0 10px 40px -10px #fff;
        border-radius: 100px;
        background: #fff;
        height: 30px;
        width: 0;
      }
      @keyframes loadmd {
        0% {
          width: 0;
        }
        100% {
          width: 60%;
        }
      }
    }
  }

  &-c {
    .about-logos {
      display: flex;
      gap: 2rem;
      align-items: center;
      justify-content: space-between;

      img {
        width: 16%;
      }
    }
  }

  &-d {
    .references {
      ul {
        list-style: none;
        margin-top: 1rem;
        display: flex;
        align-items: center;
      }
      p {
        border: 1px solid $medium-color;
        border-radius: 5px;
        padding: 0.5rem;
      }
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding-right: 0.5rem;
      }
    }
  }
}
