#contact {
  &-a {
    background: url(https://images.unsplash.com/photo-1485770958101-9dd7e4ea6d93?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    height: 70vh;
    color: #ffffff;
    opacity: 0.88;
  }
}
