#contact {
  &-a {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.2)
      ),
      url(https://images.unsplash.com/photo-1485770958101-9dd7e4ea6d93?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
    color: #ffffff;
    text-align: center;
    .form-fields {
      background: linear-gradient(
        to bottom,
        rgba(237, 200, 200, 0.9),
        rgba(0, 0, 0, 0.5)
      );
      height: 70vh;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      border-radius: 20px;

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      color: #fffff0;
      position: relative;
      form {
        height: 65vh;
        width: 46.5%;

        label {
          display: block;
          text-align: left;
        }
        input {
          display: block;
          line-height: 1.2rem;
          width: 100%;
          border: none;
          padding: 0.5rem 1rem;
          border-radius: 10px;
        }
        textarea {
          height: 10vh;
          width: 95%;
          padding: 0.5rem 0.5rem;
          border-radius: 5px;
        }
      }
    }
  }

  &-b {
    .contact-info {
      color: #fff;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      div {
        width: 30%;
        text-align: center;
        height: 10rem;
      }
    }
  }

  &-c {
    iframe {
      width: 90%;
      height: 80vh;
    }
  }
}
