/* Extra small devices (phones, 600px and down) */
@media (max-width: 768px) {
  #header {
    &__home {
      height: 30rem;

      .header-content {
        padding-top: 7rem;
      }
      h1 {
        font-size: 2.3rem;
      }
    }
  }

  #home__a .skills,
  #home__b .profile,
  #home__c .process,
  .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .projects {
    .items {
      .item {
        width: 70%;
      }
    }
  }

  #contact-b .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      width: 90%;
      margin: 1rem 0;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 576px) {
  #header {
    &__home {
      height: 12rem;
      border-bottom: 2px solid $primary-color;
      background-position: 20% 30%;
      .header-content {
        display: none;
      }
    }
    &__inner {
      height: 10rem;
    }
  }

  .main-nav {
    flex-direction: column;
    align-items: center;
    li {
      padding: 1rem;
    }
    #home__a .skills,
    #home__b .profile,
    #home__c .process,
    .items {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

  #main-footer {
    height: 7rem;

    .footer-content {
      flex-direction: column;
      padding: 1rem;
      height: 5rem;

      .social {
        padding: -4rem 0;
      }
    }
  }

  #about {
    &-a {
      .info {
        grid-template-columns: 1fr;
        &__bio {
          padding: 3.79999999997rem;
          border-radius: 20px;
        }
      }
    }

    &-c {
      .about-logos {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: space-between;

        img {
          width: 13%;
        }
      }
    }
  }

  .projects {
    .items {
      .item {
        width: 60%;
      }
    }
  }

  #contact-b .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      width: 70%;
      margin: 1rem 0;
    }
  }
}
