.container {
  max-width: $max-width;
  padding: 0 1.4rem;
  margin: auto;
}

// // progess
// %progress-shared{
//   background: rgba(255, 255, 255, 0.1);
//       justify-content: flex-start;
//       border-radius: 100px;
//       align-items: center;
//       position: relative;
//       padding: 0 5px;
//       display: flex;
//       height: 40px;
//       width: 100%;
//       margin-top: 2px;
// }

// .progress-special{

// }
// buttons

%btn-shared {
  display: block;
  padding: 0.7rem 2rem;
  transition: all 0.6s;
  border: none;
  cursor: pointer;
}

.btn {
  &-primary {
    @extend %btn-shared;
    color: #333;
    background-color: $primary-color;
  }
  &-light {
    @extend %btn-shared;
    color: #333;
    background-color: $light-color;
  }
  &-dark {
    @extend %btn-shared;
    color: #fff;
    background-color: $dark-color;
  }
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background-color: $home-bg-color;
  color: #2efa00;
}

// background
.bg {
  &-dark {
    background-color: $dark-color;
  }
  &-primary {
    background-color: $primary-color;
  }
  &-light {
    background-color: $light-color;
  }
}

// padding

.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
}
// margin

.my {
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
}

.progress-margin {
  margin-bottom: -4px;
  margin-left: 17px;
}
// text
.text-center {
  text-align: center;
}

.section-title {
  font-size: 2rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.border-bottom {
  height: 3px;
  width: 3rem;
  background-color: $primary-color;
  margin: 0 auto 1rem auto;
}
.lead {
  font-size: 1.4rem;
  word-spacing: 2px;
  margin-bottom: 2rem;
}

.bg-color {
  background-color: $home-bg-color;
}

.skillscard div {
  padding: 1.25rem;
  background: rgba(88, 88, 88, 0.1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  transition: all 0.6s;
}

.bg-linear-grad {
  background: $bg-linear-gradient-color;
}

.uibtn {
  padding: 16px 24px;
  border-radius: 50px;
  border: 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

.uibtn:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg, 80%, 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93, 24, 220) 0px 7px 29px 0px;
  cursor: pointer;
}

.uibtn:active {
  letter-spacing: 3px;
  background-color: hsl(261deg, 80%, 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93, 24, 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

.submbtn {
  padding: 16px 24px;
  border-radius: 20px;
  border: 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
  width: 40%;
}

.submbtn:hover {
  letter-spacing: 3px;
  background-color: hsl(86, 92%, 50%);
  color: hsl(0, 0%, 0%);
  box-shadow: rgb(243, 243, 243) 0px 7px 29px 0px;
  cursor: pointer;
}

.submbtn:active {
  letter-spacing: 3px;
  background-color: hsl(73, 93%, 50%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(92, 4, 255) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

.skillscard div:hover {
  transform: translateY(-20px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px;
  cursor: pointer;
}
