$max-width: 1200px;
$primary-color: #ef6d6d;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$bg-image: url(../img/antoine-barres-jay5BqVyf5A-unsplash.jpg);
$home-bg-color: #223241;
$bg-linear-gradient-color: linear-gradient(
  to right,
  rgba(20, 29, 100, 1) 0%,
  rgba(43, 111, 130, 1) 45%,
  rgba(238, 130, 238, 1) 100%
);
$contact-image: url(../img/antoine-barres-jay5BqVyf5A-unsplash.jpg);
